<%- include("partials/header"); %> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle">Title</label><br>
        <input type="text" class="form-control" id="exampleInput1" name="postTitle"><br>
        <label for="postBody">Post</label><br>
        <textarea name="postBody" class="form-control" id="exampleInputEmail1" cols="40" rows="5"></textarea><br>
        <button type="submit" class="btn btn-primary" name="button">Publish</button> 
    </div>
</form>   
<%- include("partials/footer"); %> 